* {
    box-sizing: border-box;
}
html {
height: 100%;
}
body {
    background-image: url(Model.S.Desktop.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
}
.nav-list {
    border: solid green;
    padding: 0px;
}
.logo {
    border: solid green;
    font-size: 28px;
    text-decoration: none;
    color: black;
}
.navbar-links ul {
    display: flex;
    border: solid blue;
}
.navbar-links li {
    list-style: none;
    border: solid red;
}
.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    justify-content: center;
    border: solid yellow;
}
.icons {
    border: solid red;
    text-decoration: none;
}
.title {
    text-align: center;
    border: solid red;
}
.metrics {
    display: flex;
    border: solid green;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0
}
.metric-items {
    border: solid brown;
    display: block;
    padding: 1rem;
    text-align: center;
}
.metric-items h3 {
    border: solid pink;
}
.metric-items p {
    border: solid blue;
}
