* {
    box-sizing: border-box;
}
body {
    background-image: url(Model.S.Desktop.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
}
.nav-list {
    border: solid pink;
    padding: 0px;
}
.logo {
    border: solid green;
    font-size: 28px;
    text-decoration: none;
    color: black;
}
.navbar-links ul {
    display: flex;
}
.navbar-links li {
    list-style: none;
    border: solid red;
}
.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    justify-content: center;
    border: solid yellow;
}
.icons {
    border: solid red;
    text-decoration: none;
}
.title {
    text-align: center;
    border: solid red;
}
.subtitle {
    text-align: center;
    border: solid red;
}
.metrics {
    display: flex;
    border: solid green;
    justify-content: center;
    order: -1;
    align-content: flex-end;
}
.metrics p {
    border: solid green;
    display: block;
    padding: 1rem;
}
