@font-face {
    font-family: Figtree;
    src: url(Figtree/Figtreet.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Thin.ttf);
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-weight: 500px;
    font-family: Figtree, Roboto, system-ui, -apple-system, BlinkMacSystemFont;
    letter-spacing: 1px;
}
body {
    background-image: url(Model.S.Desktop.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo {
    /* border: solid green; */
    text-decoration: none;
    cursor: pointer;
}
.logo img {
    /* border: solid red; */
    margin-left: 40px;
}
.navbar {
    /* height: 100%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-stretch: wider;
    /* position: absolute; */
}
.nav-list {
    /* border: soslid blue; */
    font-size: 14px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-list a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    display: block;
    /* border: solid yellow; */
}
.sidebar-nav a {
    display: none;
}
.nav-list a:hover {
    background-color: hsla(210, 2%, 82%, 0.54);
    border-radius: 3px;
}
.toggle-checkbox {
    display: none;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    text-decoration: none;
    font-stretch: wider;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border: none;
}
.toggle-button, .close-sidebar-button {
    display: none;
}
.close-sidebar-button {
    display: none;
    cursor: pointer;
}
@media  (max-width: 900px) {
    .toggle-button {
        font-stretch: wider;
        font-weight: 500;
        padding-bottom: 4px;
        background-color: rgba(234, 236, 240, 0.073);;
    }
    .icons i {
        display: none;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        /* border: solid blue; */
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: white;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        top: 0;
        right: 0;
        height: 100vh;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 48px;
    }
    .nav-list ul {
        padding: 32px;
        justify-content: space-between;
    }
    .nav-list a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 8px;
        justify-content: flex-start;
        font-size: 17px;
        font-weight: 500;
        /* border: solid pink; */
    }
    .sidebar-nav a {
        align-items: baseline;
        align-content: start;
        font-size: 17px;
        display: flex;
    }
    .sidebar-nav li {
        padding-left: 15px;
    }
    .sidebar-nav h3 {
        font-size: 15px;
        font-weight: 400;
        color: rgb(92, 94, 98);
        margin-top: 5px;
    }
    .close-sidebar-button {
        top: 1.75rem;
        right: 2rem;
        flex-direction: row-reverse;
        padding: 16px;
}
    .toggle-button, .close-sidebar-button {
        display: block;
        }
    .toggle-checkbox:checked ~ .nav-list {
        display: block;
    }
}
/* nav a {
    height: 100%;
} */
.icons {
    /* border: solid red; */
    text-decoration: none;
    margin-right: 40px;
    color: black;
    display: flex;
}
.icons a {
    padding: 6px;
}
.icons a:hover {
    background-color: hsla(210, 2%, 82%, 0.54);
    border-radius: 3px;
}
.fa-solid.fa-globe {
    color: black;
}
.fa-solid.fa-user {
    color: black;
}
.fa-solid.fa-question {
    color: black;
}
.title {
    text-align: center;
    align-content: center;
}
.title h1 {
    /* border: solid green; */
    font-size: 40px;
    font-weight: 500;

}
.title p {
    /* border: solid pink; */
    font-size: 14px;
    font-stretch: semi-expanded;
}
.metrics {
    position: absolute;
    justify-content: center;
    /* border: solid green; */
    color: white;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 7%; 
    display: flex;
}
.metric-grid {
    display: flex;
    /* border: solid brown; */
}
.metric-item {
    width: 160px; 
    height: 72px;
}
.metric-item h3 {
    /* border: solid pink; */
    font-size: 24px;
    font-weight: 500;
    font-stretch: wider;
    margin-bottom: 10px;
}
.metric-item p {
    /* border: solid blue; */
    font-size: 12px;
    font-stretch: wider;
}
.button {
    width: 160px;
}
.metric-button {
    background: #1e7cffd3;
    font-size: medium;
    width: 200px;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-stretch: wider;
    border: none;
}
@media (max-width: 800px) {
    .metric-item h3{
        font-size: 22px;
    }
    .metric-item p {
        font-size: 12px
    }
}
@media (max-width: 600px) {
    .metric-item {
        width: 105px;
        }
    .button {
        width: 420px;
    }
}
@media (max-width: 500px) {
    .metric-item {
        width: 90px;
        height: 65px;
        margin-bottom: 20px;
        /* border: solid blue; */
    }
    .button {
        width: 320px;
        /* border: solid red; */
    }
    .metric-item h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .metric-item p {
        font-size: 12px;
    }
    .metric-button {
        font-size: 15px;
        margin-bottom: 20px;
        width: 300px;
    }
    .title h1 {
        /* border: solid green; */
        font-size: 30px;
        font-weight: 500;
    }
    .title p {
        /* border: solid pink; */
        font-size: 14px;
        font-stretch: semi-expanded;
    }
  
}